body{
    background: #CCCCCC;
}

#banner {
    width: 100%
}

img {
    text-align: center;
}

h1 {
    text-align: center
}

p {
    text-align: center
}

#Proporcionar {
    font-size:16px
}

i b {
    color: #FF0000;
}

.itens{
    font-style: italic
}

.benefícios {
    background: #CCCCCC;
}

h2 {
    text-align: center
}

h3 {
    text-align: center
}

.imagem.foto {
       width: 20px
}