body{
    
}

#imagem.principal {
    width: 100%;
}

.principal {
    background: #CCCCCC;
}

h1 {
    text-align: center
}

p {
    text-align: center
}

#Proporcionar {
    font-size:16px
}

i b {
    color: #FF0000;
}

.itens{
    font-style: italic
}

.benefícios {
    background: #FFFFFF;
}

h2 {
    text-align: center
}

h3 {
    text-align: center
}

.imagem.foto {
    width: 50%;
}