body{
    background:#CCCCCC
}

#banner {
    width: 100%;
}

h1 {
    text-align: center
}

p {
    text-align: center
}

#Proporcionar {
    font-size:16px
}

i b {
    color: #FF0000;
}

. itens{
    font-style: italic
}